html {
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
}
html, body {
  background: black;
  color: white;
  font-family: Arial;
  margin: 0;
  padding: 0;
  text-align: center;
}
h1 {
  font-size: 500%;
  font-weight: normal;
  width: 100%;
  margin: 0;
}
ul {
  list-style-type: none;
  padding-left: 0;
}
li.station {
  font-size: 250%;
  word-break: break-word;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: black;
  background-color: white;
}
span.dist {
  font-size: 50%;
}
.info {
  margin: 10px;
  font-size: 150%;
  line-height: 1;
  text-align: right;
}
.header {
  position: relative;
  margin: 0 0 2.5em;
}
#map {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
}
#map img {
  background: #eee;
}
#position-marker {
  width: 3em;
  height: 3em;
  stroke: black;
  stroke-width: 5;
}
